= simple_form_for @spot do |f|
  = f.input :name
  = f.input :img_url
  = f.input :address
  = f.input :phone
  = f.select :category, ["Bar/Restaurant", "Entertainment", "Other"]
  = f.input :the_good
  = f.input :the_bad
  = f.input :the_ugly
  = f.button :submit, "Add your spot!"

