%div(class="container spot_page_main")
  %div(class="row")
    %div(div class="col-md-12")
      %h1(class="spot_page_head")=@spot.name
  %div(class="row ")
    %div(div class="col-md-5")
      %img(src="#{@spot.img_url}")
    %div(div class="col-md-4 spot_info")
      %p=fa_icon "building"
      %a{:href => "https://www.google.com/#q=#{@spot.address}", :target => "_blank"}=@spot.address
      %p=fa_icon "phone-square"
      %p=@spot.phone
    %div(div class="col-md-3 spot_info")
      %p=fa_icon "bookmark-o"
      %p=@spot.category
      %p(class="user_fa")=fa_icon "user"
      %p=@spot.author.name
      / %a{:href => "https://www.google.com/#q=#{@spot.name}+nashville", :target => "_blank"}=fa_icon "google"
  %div(class="row good_bad_ug")
    %div(div class="col-md-4")
      %h1 The Good
    %div(div class="col-md-4")
      %h1 The Bad
    %div(div class="col-md-4")
      %h1 The Ugly
  %div(class="row good_bad_ug_com")
    %div(div class="col-md-4 review")
      - @spot.reviews.where(kind:"The Good").each do |review|
        %p= review.content
        = link_to like_spot_review_path(review.spot_id, review.id), method: :put, class: "btn btn-default btn-sm" do
          %span(class="glyphicon glyphicon-chevron-up")
          =review.get_upvotes.size
        = link_to dislike_spot_review_path(review.spot_id, review.id), method: :put, class: "btn btn-default btn-sm" do
          %span(class="glyphicon glyphicon-chevron-down")
          =review.get_downvotes.size
    %div(div class="col-md-4 review")
      - @spot.reviews.where(kind:"The Bad").each do |review|
        %p= review.content if review.content != nil
        = link_to like_spot_review_path(review.spot_id, review.id), method: :put, class: "btn btn-default btn-sm" do
          %span(class="glyphicon glyphicon-chevron-up")
          =review.get_upvotes.size
        = link_to dislike_spot_review_path(review.spot_id, review.id), method: :put, class: "btn btn-default btn-sm" do
          %span(class="glyphicon glyphicon-chevron-down")
          =review.get_downvotes.size
    %div(div class="col-md-4 review")
      - @spot.reviews.where(kind:"The Ugly").each do |review|
        %p= review.content if review.content != nil
        = link_to like_spot_review_path(review.spot_id, review.id), method: :put, class: "btn btn-default btn-sm" do
          %span(class="glyphicon glyphicon-chevron-up")
          =review.get_upvotes.size
        = link_to dislike_spot_review_path(review.spot_id, review.id), method: :put, class: "btn btn-default btn-sm" do
          %span(class="glyphicon glyphicon-chevron-down")
          =review.get_downvotes.size

%div(class="row_review")
  %div(class="container")
    %div(class="row")
      .col-md-12
      - if logged_in?
        %h2(class="add_review_header") Go Ahead, Gimme the ugly
        = form_tag spot_reviews_path(@spot), method: :post do
          - @reviews.each do |review|
            = fields_for "reviews[]", review do |x|
              = x.hidden_field :kind
              = x.text_area :content
          = submit_tag








